@charset "utf-8";
@import "panel.css";

.ObjectSelected
{
	background: #CCF;
}

.UsingTool_MakeCroc #BattlefieldGrid td:hover
{
	background: #9F0;
}

.UsingTool_MakeObject #BattlefieldGrid td:hover
{
	background: #C6F;
}

.UsingTool_Select #BattlefieldGrid td:hover
{
	background: #66F;
}

.UsingTool_Erase #BattlefieldGrid td:hover
{
	background: #F00;
}

.Modal
{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	z-index: 10;
	margin: 0.0em;
	padding: 2.0em;
	background: rgba(204, 204, 204, 0.8);
}

.Modal p
{
	margin: 0.5em;
}

.ModalActive
{
	display: block;
}
